body {
    margin: 0;
    background-color: lightblue;
    font-family: 'Inter', sans-serif;
}

.nv {
    display: flex;
    list-style: none;
    background-color: rgb(255, 132, 132);
    margin: 0;
    padding: 0;
}

.nv a {
    display: block;
    font-size: 1.2rem;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nv a:hover {
    background-color: rgb(243, 163, 163);
}

.ab {
    margin-left: auto;
}

.main-head {
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    margin: .5rem 0;
}

.section1 {
    margin: .5rem;
    background-color: rgb(142, 97, 226);
    border-radius: 5px;
}

.section1 p {
    color: white;
    padding: 1.5rem;
    margin: 0;
}

.section1a {
    display: flex;
}

.section1a > p {
    flex: 1;
    min-height: 9rem;
    background-color: rgb(215, 173, 255);
    border-radius: 5px;
    margin: .5rem;
    text-align: center;
    color: rgb(0, 22, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.section2{
    background-color: white;
    margin: .5rem;
    border-radius: 5px;
}
.section2 p{
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
}
