.main_head{
    text-align: center;
}

.enter_num{
    text-align: center;
    letter-spacing: 20px;
}
.enter_num>input{
    padding: 1rem .5rem;
    font-size: 100%;
    text-align: center;
    border-radius: 999px;
    background-color: rgb(255, 196, 32);
    border: none;
    outline: none;
}

#result{
    margin-top: 5rem;
    font-size: 150%;
    color: rgb(53, 53, 53);

}