body{
    margin: 0;
}
.hero{
    background-image: url(media/1.png);
    min-height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.logo{
    color: white;
    font-family: 'Lobster', cursive;
    margin-top: .4rem;
    margin-right: auto;
    font-size: 2rem;
}
@media (max-width: 768px){
    .logo{
        margin: 0 auto;
        margin-top: 1rem;
    }
}
.navlist{
    display: flex;
    flex-wrap: wrap;
    margin-top: .4rem;
    list-style-type: none;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}
@media (max-width: 768px) {
    .navlist{
        display: none;
    }
}
.navlist1{
    display: flex;
    flex-wrap: wrap;
}
.navlist1 a{
    display: inline-block;
    color: white;
    margin-top: .1rem;
    padding: 0.7rem 1rem;
    text-decoration: none;
}
.navlist1 a:hover{
    text-decoration: underline;
    color: rgb(85, 26, 221);
    background-color: black;
    border-radius: 999px;
}
.signup a{
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 999px;
    padding: 0.5rem 1.2rem;
    text-align: center;
}
.signup a:hover{
    color: black;
    text-decoration: underline;
}
.signup:hover{
    background-color: white;
    border-radius: 999px;
}
.hero-main{
    text-align: center;
}
.hero-main h1{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid white;
    margin-top: 15%;
    margin-bottom: 0;
    color: white;
}
.hero-main p{
    margin: 0.3rem 3rem 0.6rem;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    font-size: 2rem;
}
.hero-main a{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 999px;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    padding: .5rem 3rem; 
}
.hero-main a:hover{
    text-decoration: underline;
    background-color: black;
    color: rgb(85, 26, 221);
}
.section1{
    padding: 3rem 0;
    background-color: rgb(228, 217, 255);;
}
.section1 h1{
    text-transform: capitalize;
    margin: 0 10rem;
    color: rgb(117, 63, 243);
    text-align: center;
}
.section1 p{
    text-align: center;
    margin: 1rem 10rem 1rem;
    color:  rgb(117, 63, 243);
    font-family: 'Inter', sans-serif;;
}
@media (max-width:768px) {
    .section1 h1, .section1 p{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}