.container{
    display: flex;
    justify-content: center;
}
#btn{
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-family: 'Questrial', sans-serif;
    margin-top: 2rem;
    padding: .5rem;
    border-radius: 999px;
    background-color: black;
}
#demo{
    font-size: large;
    font-family: 'Questrial', sans-serif;
    margin-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 2px solid gray;
}
