body{
    margin: 0;
}

.section0a{
    min-height: auto;
    padding-bottom:  2rem; 
    background-color: rgb(240, 230, 217);
}
.section0awarp{
    margin-left: 5rem;
    margin-right: 5rem;
}
.nv{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}
.nvh{
    color: rgb(49, 49, 49);
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    margin-right: auto;
}
.nvlist{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    padding-left: 2rem;
}
.nvlist a{
    display: block;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    color: rgb(39, 39, 39);
    padding: 14px 16px;
    text-decoration: none;
}
.nvlist a:hover{
    text-decoration: underline;
    color: rgb(240, 230, 217);
    background-color: rgb(52, 55, 58);
    border-radius: 999px;
}
.section0a1{
    padding: 1rem;
    max-width: 30vw;
    background-color: rgb(255, 248, 240);
    border-radius: 5px;
    margin-bottom: 1rem;
}
.section0a1 h3{
    font-family: 'Playfair Display', serif;
    color: rgb(49, 49, 49);
    margin-top: 0;
    margin-bottom: 0;
}
.section0a1 p{
    margin: 0;
    font-family: 'Questrial', sans-serif;
}
.findout{
    list-style: none;
    display: inline-block;
    background-color: rgb(39, 39, 39);
    border-radius: 3px;
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 1.3rem;
    padding: .8rem;
    text-decoration: none;
    margin-bottom: 5rem;
}
.findout:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: underline;
}

.section0{
    position: relative;
}
.image1{
    position: absolute;
    top: 20%;
    left: 65%;
    width: 23%;
    height: 75%;
    background-image: url(media/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}
.section0b{
    height: 15vh;
}

.section1{
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
}
.section1a{
    padding: 1rem;
    max-width: 45vw;
    border-radius: 5px;
    background-color: rgb(240, 230, 217);
}
.section1 h3{
    font-family: 'Playfair Display', serif;
    color: rgb(49, 49, 49);
    margin: 0;
    margin-bottom: .4rem;
}
.section1a p{
    font-family: 'Questrial', sans-serif;
    color: rgb(39, 39, 39);;
    margin: 0;
}
.image2{
    position: absolute;
    background-image: url(media/3.png);
    top: 0;
    left: 5%;
    width: 25%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}